* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --w: #ffffff;
  --b: #000000;

  --t1: #001233;
  --t2: #002466;
  --t3: #337aff;
  --t4: #669cff;

  --bg1: #99c2ff;
  --bg2: #99bdff;
  --bg3: #0059ff;
  --bg4: #003699;

  --sh1: #e5eeff;
  --sh2: #669cff;
  --sh3: #000c24;
  --sh4: #000c248a;

  --c1: #e5f0ff;
  --c2: #cce0ff;
  --c3: #99c2ff;
  --c4: #66a3ff;
  --c5: #3385ff;
  --c6: #0066ff;
  --c7: #0052cc;
  --c8: #003d99;
  --c9: #002966;
  --c10: #001433;
  --c11: #000e24;
}
body {
  background-color: var(--bg1);
  background: #020024;
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 17%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
  min-height: 100dvh;
}
.container {
  width: 80%;
  padding: 1em;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 1rem;
  color: var(--t4);
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
  letter-spacing: 10px;
  text-align: center;
}
.text h1 {
  white-space: nowrap;
  overflow: hidden;
  animation: type 4s steps(50) forwards infinite;
}
@keyframes type {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
  
}
.form-container {
  padding: 1em;
  width: 100%;
  margin: auto;
}

table {
  width: 60%;
  margin: auto;
  padding: 1em;
  box-shadow: 2px 2px 5px 5px rgba(4, 12, 29, 0.233);
  border-radius: 1em;
  background-color: var(--bg1);
  background: #020024;
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(9, 9, 121, 0.5) 17%,
    rgba(0, 212, 255, 0.5) 100%
  );
}
th,
td {
  padding: 0.5em;
  margin: auto;
  width: 50%;
  margin: auto;
}
label {
  color: var(--t4);
}
input[type="text"],
input[type="number"] {
  color: var(--t4);
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  width: 100%;
}
input[type="button"] {
  width: 80%;
  padding: 5px;
  color: var(--t4);
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: larger;
  border-radius: 10px;
  border: transparent;
  box-shadow: 2px 2px 2px 2px rgba(20, 35, 65, 0.445);
}
input[type="button"]:hover {
  color: var(--w);
   background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(9, 9, 121, 0.5) 17%,
    rgba(0, 212, 255, 0.5) 100%
  );
  cursor: pointer;

}
input:focus {
  border-bottom: 2px solid;
  outline: transparent;
}
.result-container{
  width: 50%;
  margin: auto;
}
.result {
  color: var(--t4);
  text-align: center;
  border-radius: 1em;
  background: #020024;
  background: linear-gradient(
    151deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(9, 9, 121, 0.5) 17%,
    rgba(0, 212, 255, 0.5) 100%
  );
  padding: 1rem;
  box-shadow: 2px 3px 3px 3px var(--bg4);
  display: none;
}
.result h2{
  padding: 5px;
}

@media screen and (max-width: 679px) {

.container{
  width: 100%;
}
.text{
  letter-spacing: 5px;
  text-align: center;
  margin: auto;
}
.form-container{
  width: 100%;
  margin: auto;
}
table{
  width: 100%;
  margin: auto;
}
.result-container{
  width: 100%;
  margin: auto;
}
  
}
